'.source.nm7':
  'simulation':
    'prefix': 'ssim'
    'body': "$SIM (${1:1234567}) ONLYSIM"
  'simulation with nsub':
    'prefix': 'ssimn'
    'body': "$SIM (${1:1234567}) ONLYSIM NSUB = ${2:500}"
